$dark: #171717;
$white: #FFFFFF;
$grey: #B4B4B4;
$dark-grey: #666666;
$light-grey: #B1B1B1;
$cream: #C9A96E;
$color-for-page-panel: #A2A2A2;


// шрифти за замовчуванням
$fontFamilySans: "PT Sans";
$fontFamilySerif: "PT Serif";

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
