@import './variables';

// обнулення
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// верстка

body{
    color: $dark;
    font-size: 16px;
    font-family: 'PT Serif', serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1760px;
    padding: 34px 15px;
    margin: 0 auto;
}

.logo{
    margin-left: 80px;
}

.nav{
    display: flex;
    align-items: center;
    margin-right: 80px;
    &__item{
        margin-left: 30px;
        &:first-child{
            margin-left: 0;
        }
    }
    &__link{
        color: $dark;
        text-decoration: none;
    }
    &__link:hover{
        color: $cream;
    }
}

.banner{
    color: $dark;
}

.text_for_banner{
    position: absolute;
    margin: 0 auto;
    left: 88px;
    top: 370px;
    z-index: 10;
    color: $white;

}

.par_first_banner{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 4px;
    text-transform: uppercase;
    line-height: 18px;
}

.par_second_banner{
    font-weight: 400;
    font-size: 14px;
}

.title_banner{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.par_for_container{
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    .par_second_banner{
        padding-right: 14px;
    }
    .par_third_banner{
        padding-right: 14px;
    }
    .span_for_container{
        color: $grey;
    }
}

.img__banner{
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 6.5e-05) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.container_for_main{
    max-width: 850px;
    margin: 0 auto;
    margin-right: 412px;
}

.first_post{
    height: 1293px;
    width: 770px;
    margin: 0 auto;
    margin-top: 29px;
}

.groups{
    display: flex;
    justify-content: space-between;
}

.group_1{
    position: relative;
    height: 412px;
    width: 370px;
    margin-top: 30px;
}

.group_description{
    position: absolute;
    height: 131px;
    text-align: center;
    top: 280px;
    width: 370px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    .title_group{
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 4px;
        color: $cream;
        font-size: 12px;
        font-weight: 400;
        font-family: $fontFamilySans;
        line-height: 16px;
    }
    .group_name{
        color: $dark;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 28px;
    }
    .information_group{
        display: flex;
        justify-content: center;
        color: $dark-grey;
        font-size: 12px;
        font-weight: 400;
    }

    .information_1{
        margin-right: 12px;

    }
    .span_information{
        color: $light-grey;
    }
}

.second_post{
    width: 770px;
    height: 561px;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
    .img_post_2{
        padding-top: 42px;
    }
    .group_description_2{
        position: absolute;
        top: 391px;
        width: 740px;
        height: 178px;
        padding-top: 25px;
        padding-left: 30px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }
    .title_group{
        text-transform: uppercase;
        color: $cream;
        font-size: 12px;
        font-weight: 400;
        font-family: $fontFamilySans;
        line-height: 16px;
    }
    .group_name{
        color: $dark;
        font-weight: 400;
        font-size: 20px;
        margin-top: 6px;
        margin-bottom: 12px;
        line-height: 26px;
    }
    .information_group{
        display: flex;
        color: $dark-grey;
    }
    .information_1{
        margin-right: 14px;
    }
    .information_2{
        margin-right: 14px;
    }
    .span_information{
        color: $light-grey;
    }
    .description{
        margin-top: 14px;
    }
    .information_4{
        font-family: $fontFamilySans;
        color: $dark-grey;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
}

.third_post{
    margin: 0 auto;
    width: 770px;
    height: 852px;
    margin-top: 30px;
}


    
    
    
    .page_panel_items{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        
        border: 1px solid #E5E5E5;
        width: 509px;
        height: 50px;
        margin: 0 auto;
        margin-top: 80px;
        color: $dark;
        .oldest_post{
            margin-left: 39px;
            font-size: 14px;
            text-transform: uppercase;
        }
        .oldest_post:hover{
            color: $color-for-page-panel;
            cursor: pointer;
        }
        .left_arrow{
            position: absolute;
            width: 13px;
            height: 13px;
            left: 38px;
            top: 19px;
        }
        .next_post{
            font-size: 14px;
            margin-right: 39px;
            text-transform: uppercase;
        }
        .next_post:hover{
            color: $color-for-page-panel;
            cursor: pointer;
        }
        .right_arrow{
            position: absolute;
            width: 13px;
            height: 13px;
            right: 38px;
            top: 19px;
        }
    }










